body{
    background-image: url(https://thumbs.dreamstime.com/b/fondo-para-el-dise%C3%B1o-gr%C3%A1fico-forma-del-modelo-al-azar-movimiento-web-y-color-113807045.jpg);
    padding: 0;
    margin: 0;
} 
/* Footer*/ 
footer{
    background:rgba(159, 138, 208, 0.664) ;
    padding-bottom: 0.1px;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 20px;
    border: 1px solid #000;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color: rgb(61, 16, 16);
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500; 
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width:60px ;
    height: 60px;
    border: 1px solid #9f8ad0;
    border-radius: 50%;
    text-align: center;
    color: #9f8ad0;
}
.social-media-icon :hover{
    background: #5ee7df;
    color: #5ee7df;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #5ee7df;
    margin-bottom: 60px; 
}
form{
    text-align: right;
    float: left;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
header{
    height: 100vh;  
    background-image: linear-gradient(to top, rgba(251, 194, 235, 0.39) 0%, #a6c0ee73 100%),url(../img/iniciopa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.contenedor-head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.head{
text-align: center;
padding: 0;
height: 100%;
display: flex;
justify-content:center ;
align-items: center;
}
.menu{
    z-index: 10;
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}
.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, rgba(152, 144, 227, 0.507) 0%, #b1f4cf59 100%);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out ;
    transform: translate(100%);
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}
.spread{
    transform: translate(0);
}


.menu-navegacion a{
    color: rgb(96, 21, 156);
    text-decoration: none;

}
.titulo{
    font-size: 60px;
    margin-bottom: 15opx;
    
}
.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(44, 112, 121);
    font-size: 40px;
}
/* Frases*/

.contenedor-frases{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-frases img{
    width: 500px;
}
.checklist-servidor{
width: 45%;
}
.service{
    margin-bottom: 20px;

}
.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.cerrar{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
/* Reglas*/ 
.reglas{
    margin-bottom: 20px; 
}
.n-reglas{
    margin-bottom: 7px;
    color: #080313;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-right: 3px;
}


/* imagenes*/ 
.galery{
    background: #f2f2f2;

}
.contenedor-fotos{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.contenedor-fotos img{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
    cursor: pointer;
}
.imagen-light{
    position: fixed;
    background: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;

}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.img-fotos{
object-fit: cover;
width: 30%;
display: block;
margin-bottom: 15px;
box-shadow: 0 0 6px rgb(0, 0, 0, .5);
cursor: pointer;
}
.showImage{
    transform: scale(1);
}
/* Objetivos*/ 
.contenedor-objetivo{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.contenedor-objetivo img{
    width: 500px;
    text-align: center;
}
.contenedor-objetivo p{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

@media screen and(max-width:800px) {
    .menu-navegacion{
        width: 50vw;
    }
    .titulo{
        font: size 40px; ;

    }
    .contenedor-frases img{
        width: 40%;
        margin-bottom: 40px;
    }
    .checklist-servidor{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 30%;
    }
    .img-fotos{
        width: 45%;
    }
    .contenedor-objetivo{
        width:80% ;
    }
    .contenedor-frases{
        width: 50%;
    }
    .footer-content{
    justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;

    }
    .social-media i{
        margin-left: 0;

    }
    .social-media-icon{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}
@media screen and(max-width: 500px) {
    .menu-navegacion{
        width: 65vw;
    }
    .menu{
    top: 20px;
    right: 20px; 
    }
    .titulo{
        font: size 30px;;
    }
    .agregar-imagen{
        width: 95%;
    }
    .img-fotos{
        width: 95%;
    }
    .social-media{
        width: 100%;
    }
    .contact-us{
        width: 90%;
    }
}
